SESSION_SECRET="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"
MONGO_SRV="mongodb+srv://awhipp:nWRXPMO7woYpM2aK@intern-io.sofx86k.mongodb.net/?retryWrites=true&w=majority"

Copy the values from this .env.example file and paste them into the .env file.
Replace the values with your own and remove this comment.