.dropdown-content {
  position: absolute;
  top: 100%;
  background-color: var(--white);
  -webkit-text-fill-color: var(--black);
  width: 100%;
  height: fit-content;
  border-radius: var(--xs);
  display: none;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s;
  border: 1px solid black;
}

.dropdown-button {
  background-color: inherit;
  -webkit-text-fill-color: inherit;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.dropdown-button:hover {
  -webkit-text-fill-color: var(--orange);
}
