.login-button {
  border: none;
  /* border-color: white; */
  border-radius: var(--m);
  background-color: inherit;
  -webkit-text-fill-color: inherit;
  padding: 5%;
  transition-duration: 1s;
  font-weight: bolder;
}

.login-button:hover,
.login-button:visited {
  /* border-color: var(--primary-dim); */
  -webkit-text-fill-color: var(--hot-orange);
  transition-duration: 1s;
}

.login-container {
  display: flex;
  flex-direction: column;
  row-gap: var(--l);
  height: 100vh;
  justify-content: center;
}

.floating-button {
  animation-name: buttonFade;
  animation-duration: 2.6s;
}

@keyframes buttonFade {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
