* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--black);
}

.nav-bar-container {
  position: relative;
  /* overflow: hidden; */
  z-index: 2;
  background-color: var(--black);
  display: flex;
  flex-direction: row-reverse;
  column-gap: var(--l);
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav-icon {
  padding: 1%;
  color: var(--white);
  transition-duration: 0.7s;
  width: 25px;
  height: auto;
  max-height: 25px;
}

.nav-icon:hover,
.nav-icon:visited,
.nav-icon-selected {
  padding: 1%;
  width: 25px;
  height: auto;
  max-height: 25px;
  transition-duration: 0.7s;
  color: var(--orange);
}

.search-bar-open {
  animation: fadeIn 1.5s;
}

.search-bar-close {
  animation: fadeOut 0.75s;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* @keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
} */

.search-filters-container {
  position: relative;
  width: fit-content;
}

.search-filters-sidebar {
  display: flex;
  position: absolute;
  column-gap: 10px;
  align-content: baseline;
  -webkit-text-fill-color: var(--white);
  background-color: grey;
  border: solid black;
  border-radius: var(--s);
  animation: fadeIn 1.1s;
  padding: 10%;
}

.sidebar-hidden {
  display: none;
  animation: fadeOut 1.5s;
}

.search-filter {
  display: flex;
  column-gap: 5px;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  column-gap: 5px;
}
