.pill-container {
  background-color: black;
  border: solid thin;
  border-radius: 12px;
  border-color: var(--white);
  padding: 2%;
  display: flex;
  width: fit-content;
  -webkit-text-fill-color: var(--white);
  transition-duration: 0.4s;
}

.pill-container:hover {
  border-color: var(--orange);
  -webkit-text-fill-color: var(--orange);
  transition-duration: 0.4s;
}

.platform-icon {
}
