.menu-options-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.menu-option {
  background-color: black;
  border: var(--s) solid transparent;
  padding: 5%;
  width: 100%;
  transition-duration: 0.7s;
}
.menu-option:hover {
  border: var(--s) solid var(--primary-light);
  transition-duration: 0.9s;
}

.menu-option-sel {
  background-color: black;
  border: var(--s) solid transparent;
  padding: 5%;
  width: 100%;
  transition-duration: 0.7s;
  border: var(--s) solid var(--primary-light);
  transition-duration: 0.9s;
}

.reg {
}
.reg:hover,
.reg-sel {
  border-image: linear-gradient(var(--primary-light), var(--primary)) 10;
}

.inv {
}
.inv:hover,
.inv-sel {
  border-image: linear-gradient(var(--primary), var(--primary-light)) 10;
}

.menu-icon {
  width: var(--l);
  height: var(--l);
  transition-duration: 0.7s;
}

.menu-icon-sel {
  width: var(--l);
  height: var(--l);
  transition-duration: 0.9s;
}

.icon-reg {
  color: var(--white);
}
.icon-reg-sel {
  color: var(--primary-light);
}

.icon-inv {
  color: var(--white);
}
.icon-inv-sel {
  color: var(--primary);
}
