.menu-options-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.menu-option {
  background-color: inherit;
  border: var(--s) solid transparent;
  padding: 5%;
  width: 100%;
  transition-duration: 0.7s;
}
.menu-option:hover {
  border: var(--s) solid var(--orange);
  transition-duration: 0.9s;
}

.menu-option-sel {
  background-color: inherit;
  border: var(--s) solid transparent;
  padding: 5%;
  width: 100%;
  transition-duration: 0.7s;
  border: var(--s) solid var(--orange);
  transition-duration: 0.9s;
}

.reg {
}
.reg:hover,
.reg-sel {
  border-image: linear-gradient(var(--orange), var(--hot-orange)) 10;
}

.inv {
}
.inv:hover,
.inv-sel {
  border-image: linear-gradient(var(--hot-orange), var(--orange)) 10;
}

.menu-icon {
  width: var(--l);
  height: var(--l);
  transition-duration: 0.7s;
}

.menu-icon-sel {
  width: var(--l);
  height: var(--l);
  transition-duration: 0.9s;
}

.icon-reg {
  color: var(--orange);
}
.icon-reg-sel {
  color: var(--hot-orange);
}

.icon-inv {
  color: var(--orange);
}
.icon-inv-sel {
  color: var(--hot-orange);
}
