.options-container {
  display: flex;
  column-gap: 10px;
  border-radius: var(--s);
  align-self: center;
}

.text-option {
  -webkit-text-fill-color: var(--white);
  transition-duration: 0.7s;
}

.text-option:hover,
.text-option:visited {
  transition-duration: 0.7s;
  -webkit-text-fill-color: var(--primary-dim);
}
