.entry-container {
  width: inherit;
  display: flex;
  column-gap: 15%;
  justify-content: center;
  padding: 5%;
  border: solid transparent;
  transition-duration: 0.6s;
}

.entry-container:hover {
  border: solid var(--primary);
  transition-duration: 0.6s;
  -webkit-text-fill-color: var(--primary);
}

.icon-sel {
  color: var(--primary-dim);
}

.x-icon {
  color: var(--red);
}
.check-icon {
  color: green;
}
.crown-icon {
  color: black;
}
