.img-label {
  -webkit-text-fill-color: black;
}

.img-label:hover {
  -webkit-text-fill-color: var(--primary-dim);
}

.edit-input {
  padding: 1%;
  text-align: center;
}

.edit-label {
  white-space: nowrap;
}

.multiline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  width: 80%;
}

.multiline-input {
  width: 100%;
  height: 75px;
  padding: 1%;
  resize: none; /* Prevent the user from resizing the textarea */
  overflow-y: auto; /* Show scrollbar if content overflows vertically */
  word-wrap: break-word;
  text-align: center;
}

.info-icon-profile {
  fill: black;
  font-size: 24px;
  opacity: 0.5;
  transition-duration: 0.5s;
}

.info-icon-profile:hover {
  opacity: 1;
  fill: var(--orange);
  transition-duration: 0.5s;
}
