.create-container {
  align-items: center;
  width: max-content;
}

.create-label {
  display: flex;
  font-size: small;
  column-gap: 8px;
  white-space: nowrap;
  align-items: center;
}

.create-input {
  width: 60%;
  height: auto;
  -webkit-text-fill-color: var(--black);
  padding: 2%;
}

.invalid-msg {
  font-size: medium;
  -webkit-text-fill-color: darkred;
  animation: msgFade 0.5s;
}

.invalid-msg-hidden {
  font-size: medium;
  opacity: 0;
}

@keyframes msgFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
